#virtual environment
venv/
logs/

#Cache
__pycache__/
*.pyc

# .vscode
.vscode/

#Archive
Archive/

# Environment Variables
.env

# Docker
.venv

# Documents
documents/LOGGING.md
documents/QUESTIONS.md
documents/CHECKLIST.md
documents/context/
